<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>[:微笑]</string>
	<string>[:可爱]</string>
	<string>[:害羞]</string>
	<string>[:咧嘴笑]</string>
	<string>[:忧伤]</string>
	<string>[:大哭]</string>
	<string>[:叹气]</string>
	<string>[:抓狂]</string>
	<string>[:花痴]</string>
	<string>[:惊讶]</string>
	<string>[:吐]</string>
	<string>[:困]</string>
	<string>[:抠鼻]</string>
	<string>[:擦汗]</string>
	<string>[:再见]</string>
	<string>[:偷笑]</string>
	<string>[:流汗]</string>
	<string>[:惊恐]</string>
	<string>[:发呆]</string>
	<string>[:扮酷]</string>
	<string>[:睡觉]</string>
	<string>[:闭嘴]</string>
	<string>[:调皮]</string>
	<string>[:晕]</string>
	<string>[:鄙视]</string>
	<string>[:委屈]</string>
	<string>[:阴险]</string>
	<string>[:亲亲]</string>
	<string>[:示爱]</string>
	<string>[:干杯]</string>
</array>
</plist>
